body {
  font-size: 16px;
  font-family: Arial;
}

.request-builder {
  display: flex;
  flex-direction: column;
}

.form-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.request-response {
  display: flex;
  flex-direction: row;
}

.requestresponse-containers {
  width: 50%;
}

.form-child {
  width: 25%;
}

.method-host {
  display: flex;
  flex-direction: column;
}

.key-value {
  display: flex;
  align-content: stretch;
}

.keyfield {
  width: 120px;
}

.input-body {
  display: flex;
  flex-direction: column;
}

.input-body-field {
  display: flex;
  flex-grow: 2;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}



textarea {
  resize: none;
}

input {
  height: 30px;
  font-size: 16px;
}
